
body {
    background-image: url(hatter.jpg);
    background-size: cover; 
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; 
}

.festekli{
    text-align: justify;
    font-size: medium;
}

h1 {
    text-align: center;
    font-size: 2vw;
    color: #333;
    margin-top: 20px;
}

p{
    text-align: justify;
}

.fooldalh1 {
    padding-top: 300px;
}
.fooldalp{
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 20px;
    color: #333; 
}


.topnav {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0; 
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px; 
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s ease; 
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


.blur-background {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1vw;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    background-color: #fff;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

tr:hover td {
    background-color: #f1f1f1;
}


td img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 1024px) {
    .blur-background {
        width: 90%; 
    }
}

@media (max-width: 768px) {
    h1, h2, p {
        font-size: 4vw; 
    }

    table, th, td {
        font-size: 2.5vw;
    }

    td img {
        max-width: 80%; 
    }

    .blur-background {
        width: 95%; 
    }
}


@media (max-width: 480px) {
    .blur-background {
        width: 95%;
        padding: 10px;
    }

    td img {
        max-width: 70%; 
    }

    table, th, td {
        font-size: 3vw;
    }
}

.round-image {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #f2f2f2;
    padding: 40px;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}


.footer-column:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    margin-left: 20px;
}

.footer-column h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #000; 
}

.footer-column p {
    text-align: center;
}

.review-container {
    text-align: left; 
    margin-top: 20px;
}

.review {
    margin: 15px 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.review p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 30px;
    }
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.team-member {
    text-align: center;
    margin: 20px;
    background-color: rgba(240, 240, 240, 0.5);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 250px;
}

.team-member h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.team-member p {
    font-size: 1em;
    color: #000000;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back-button {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #04AA6D;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: fit-content; 
}

.back-button:hover {
    background-color: #038a5d;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.about-image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-image-container {
    text-align: center;
    margin: 20px 0; 
}

.about-text {
    max-width: 600px;
    color: #000;
}

.about-text h2 {
    font-size: 1.8rem;
    color: #000000;
}

.about-text p, .about-text ul {
    font-size: 1.1rem;
    color: #555;
}

.about-text ul {
    padding-left: 20px;
}

.about-text ul li {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        max-width: 100%;
    }

    .about-text {
        max-width: 100%;
    }
}
